<mat-form-field appearance="outline">
  <mat-label>Title</mat-label>
  <input matInput cdkFocusInitial [(ngModel)]="data.task.title" />
</mat-form-field>
<br />
<mat-form-field appearance="outline">
  <mat-label>Description</mat-label>
  <textarea matInput [(ngModel)]="data.task.description"></textarea>
</mat-form-field>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
    *ngIf="data.enableDelete"
    mat-fab
    color="accent"
    [mat-dialog-close]="{ task: data.task, delete: true }"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ task: data.task }"
  >
    OK
  </button>
</div>
