<mat-toolbar color="primary">
  <mat-icon>local_fire_department</mat-icon>
  <span>KanbanFire</span>
  <span class="spacer"></span>

  <button mat-icon-button matTooltip="Add a new task" (click)="newTask()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div
  class="container"
  cdkDropListGroup
  fxLayout="column"
  fxLayoutAlign="space-around none"
  fxLayoutGap="16px"
>
  <div>
    <mat-card
      cdkDropList
      id="todo"
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card-header>
        <mat-card-title>Backlog</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-card *ngIf="todo.length === 0">
          <mat-card-header>
            <mat-card-title>Empty list</mat-card-title>
            <mat-card-subtitle>Move items here</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <app-task
          (edit)="editTask('todo', $event)"
          *ngFor="let task of todo"
          cdkDrag
          [task]="task"
        ></app-task>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card
      cdkDropList
      id="inProgress"
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card-header>
        <mat-card-title>In Progress</mat-card-title>
      </mat-card-header>
      <mat-card *ngIf="inProgress.length === 0">
        <mat-card-header>
          <mat-card-title>Empty list</mat-card-title>
          <mat-card-subtitle>Move items here</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <app-task
        (edit)="editTask('inProgress', $event)"
        *ngFor="let task of inProgress"
        cdkDrag
        [task]="task"
      ></app-task>
    </mat-card>
  </div>
  <div>
    <mat-card
      cdkDropList
      id="done"
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card-header>
        <mat-card-title>Done</mat-card-title>
      </mat-card-header>
      <mat-card *ngIf="done.length === 0">
        <mat-card-header>
          <mat-card-title>Empty list</mat-card-title>
          <mat-card-subtitle>Move items here</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <app-task
        (edit)="editTask('done', $event)"
        *ngFor="let task of done"
        cdkDrag
        [task]="task"
      ></app-task>
    </mat-card>
  </div>
</div>
